Options -Indexes
RewriteEngine On
ErrorDocument 404 /404.php

#Advanced Cookie Manager
<IfModule php5_module>
    php_flag session.cookie_httponly on
    php_flag session.use_only_cookies on
</IfModule>

FileETag None