* { margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; }
@font-face {
	font-family: 'Trajan Pro';
	src: url('../fonts/TrajanPro-Regular.eot');
	src: url('../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrajanPro-Regular.woff') format('woff'),
		url('../fonts/TrajanPro-Regular.ttf') format('truetype'),
		url('../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Candara';
	src: url('../fonts/Candara.eot');
	src: url('../fonts/Candara.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Candara.woff') format('woff'),
		url('../fonts/Candara.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body { background:#fefee4; display:block; overflow-x:hidden; float:left; width:100%; height:100%;}
img { max-width:100%; margin:0 auto;  }
.container { max-width:1150px; margin:0 auto; }
.clearfix { clear:both; }

.bannerbox { float:left; width:100%; }
.bannerbox .slide .bannerimage { width:100%; }
header { z-index:999; position:absolute; width:100%; float:left; }
.logo { position:absolute; top:20px; left:25px;}
.menubx { position:absolute; right:70px; top:30px; left:auto;}
.menubx:after { top:0; right:-25px; position:absolute; content:''; display:block; width:26px; height:43px; background:url(../images/right_menuside.png) no-repeat center top;}
.menubx:before { left:-25px; position:absolute; content:''; display:block; width:26px; height:43px; background:url(../images/left_menuside.png) no-repeat center top;}
.menubx ul { background:#f11b53; }
.menubx ul li {font-family: 'Trajan Pro'; padding:10.4px 0; display:inline-block; }
.menubx ul li a { color:#fff; padding:0 15px; border-right:1px solid #fff; font-size:21px; line-height:21px;}
.menubx ul li a:hover { color:#26c7ba; }
.menubx ul li:last-child a { border-right:0px; }
.carousel-indicators { left:10%; bottom:10px;}
.carousel-indicators li { margin:0px -3px; width:25px; height:25px; border:0px; background:url(../images/carousel.png) no-repeat center top;}
.carousel-indicators li.active { margin:0px -3px; width:25px; height:25px; border:0px; background:url(../images/carousel_active.png) no-repeat center top;}
.dummyimage { width:100%;position:absolute; bottom:0px;}
.dummyimage img { margin:0 auto; display:block; }
.carousel-caption { padding:0px 0 60px; text-shadow:inherit;}
.carousel-caption p { cursor:pointer; box-shadow:0px 8px 25px #000; position:relative; display:inline-block; font-size:24px; color:#1d0d0d; background:#26c7ba; padding: 10.5px 12px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
.carousel-caption p:hover { color:#fff; }
.carousel-caption p:after { top:-2px; right:-21px; position:absolute; content:''; display:block; width:26px; height:47px; background:url(../images/text_right.png) no-repeat center top;}
.carousel-caption p:before { top:-2px; left:-21px; position:absolute; content:''; display:block; width:26px; height:47px; background:url(../images/text_left.png) no-repeat center top;}
.contentbox { padding:0px; width:100%; float:left;}
.innr_contentbox { padding:35px 0; float:left; width:100%;}
.innr_contentbox h1 img { margin:0 auto 30px; display:block; }
.innr_contentbox p { color:#0a0305; font-size:20px; margin-bottom:25px; font-family: 'Candara';}
.no_padding { padding:0px;}
.detailbox1 { padding:0 5px;}
.detailbox { text-align:center;}
.detailbox h3 { margin:20px 0 10px; font-size:28px; font-family: 'Trajan Pro'; }
.detailbox p { font-size:16px; margin-bottom:20px; font-family: 'Candara'; padding:0 10px; line-height:18px; }
.detailbox1 h3 { color:#8110eb; }
.detailbox1 p { color:#8110eb; }
.detailbox2 h3 { color:#ff016e; }
.detailbox2 p { color:#ff016e; }
.detailbox3 h3 { color:#0eada0; }
.detailbox3 p { color:#0eada0; }
.detailbox a:hover { opacity:.5; }
.postbox { padding:60px 0; float:left; width:100%; }
.innr_postbox h3 { letter-spacing:-2px; margin:0 0 10px; color:#ff8c0f; font-size:49px; font-family: 'Trajan Pro'; font-weight:bold; text-align:center; }
.innr_postbox ul { text-align:center; }
.innr_postbox ul li { color:#ff8c0f; display: inline-block; font-family: 'Candara'; padding: 0 20px; border-right: 1px solid #ff8c0f; font-size: 24px; line-height: 18px; vertical-align: middle; }
.innr_postbox ul li:last-child { border-right: 0;  }
.innr_postbox ul li a { cursor:default; color:#ff8c0f; padding:0 0px; }
.innpostbx1 { max-width:1035px; margin:0px auto; position:relative; width:92.5%;}
.innpostbx11 { padding:0 50px; float:left; margin:-100px 0; width:100%; background:#ff8c0f;}

.titlename { width:45%;  float:left; }
.titlename h4 { font-family: 'Trajan Pro'; text-transform:uppercase; font-weight:bold; color:#ff8c0f; font-size:16px; }
.postname { width:55%; float:right;  }
.postname h5 { text-align:right; font-family: 'Trajan Pro'; text-transform:uppercase; font-weight:bold; color:#f11b73; font-size:16px; }
.postname h5 img { margin:-2px 0 0 5px; }
.thumbnail { width:32%; border-radius:0px; padding:15px 15px 25px; margin:5px !important;}
.thumbnail p { float:left; width:100%; color:#212223; font-size:17px; font-family: 'Candara'; margin:10px 0; }
.thumbnail p iframe { width:100%; min-height:300px; }
.thumbnail a { color: #353535; font-family: 'Candara'; font-weight: bold; font-size: 13px; position: absolute; bottom: 8px; right: 12px; }

.uploadbox { width:100%; display:block; text-align:center; margin:30px 0 0px;}
.uploadbox a { display:inline-block; }
.uploadbox a img  { }
.uploadbox a:hover { opacity:.7; cursor:pointer;}
.footerbox { margin:-70px 0 50px; }
.footerbox p { color:#464143; font-size:16px; text-align:center; font-weight:bold; font-family: 'Candara'; }

.modal-content { box-shadow:none; border:0px; background:none;}
.modal-content .modal-header { border:0px; padding:0px;}
.modal-content .modal-header h4 {text-align: center; position: absolute;  font-family: 'Trajan Pro'; top: 70px; font-size:28px; z-index:999; color:#ffffff;  width: 100%;}
.modal-content .modal-footer { border:0px; padding:0px;}
.modal-header .close { margin-top: 0; position: absolute; right: 73px; top: 45px; opacity: 1; text-shadow: none;}
.innrmodalbody .imagepop { width:100%; }
.modal-body { background:#ff8c0f;  position: relative;  padding: 25px 25px 0;  width: 92%;  margin: -60px auto;  }
.innrmodalbody {  border:1px solid #fefee4; min-height:200px; }
.innrmodalcntbx { font-size:0px; clear:both; padding:20px 20px 0; }
.innrmodalbody p { font-size:17px; line-height:24px; color:#fefee4; margin-bottom:20px; font-family: 'Candara';}
.fade.in { background:rgba(0, 0, 0, 0.7);}

.lefttextbox { vertical-align:top; display:inline-block; width:50%; padding:0 10px 0 0; }
.lefttextbox input { width:100%; margin:0 0 10px; background:#fefee4; border-radius:5px; height:45px; padding:0 10px; color:#ff8c0f; border:0px; font-size:20px; font-family: 'Candara'; }
.right_textbox { vertical-align:top; display:inline-block; width:50%; padding:0 0 0 10px; }
.right_textbox  textarea { resize:none; width:100%; background:#fefee4; border-radius:5px; height:100px; padding:0 10px; color:#ff8c0f; border:0px; font-size:20px; font-family: 'Candara'; }
.right_uploadbox {display:inline-block; width:100%; padding:0 0 20px;}
.right_uploadbox label { font-size:23px; color:#fefee4; font-family: 'Candara';}
.file-upload-button { background:url(../images/browse_btn.png) no-repeat center top / 100% 100%; width:130px !important; height:43px; border:0px; font-size:0px; }
.file-upload-button:hover { background:url(../images/browsehover_btn.png) no-repeat center top / 100% 100%; }
.file-upload-wrapper input { width:65%; background:#fefee4; border-radius:5px; height:45px; padding:0 10px; color:#ff8c0f; border:0px; font-size:16px; font-family: 'Candara';}
.file-upload-wrapper button { margin:0 10px; vertical-align:top; width:25%; }

.submitbtn { background: url(../images/upload_btn.png) no-repeat center top / 100% 100%; width: 190px; height: 43px; border: 0px; font-size: 0px; margin: 0px auto 20px; display: block;}
.submitbtn:hover { background:url(../images/uploadhoverbtn.png) no-repeat center top / 100% 100%; }
.readbox { display:none; color:red;  }
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}




@media (max-width:1200px) {
	.logo{ top: 10px;  left: 10px;  width: 120px;}	
	.menubx { right: 40px; top: 20px; left: auto;}
	.detailbox { padding:0 5px;}
	.footerbox { margin: -55px 0 50px;}
	.menubx ul li a {font-size: 18px;padding: 0 10px;}
	.modal-content .modal-header h4 { font-size: 24px; }
	.postname h5 { font-size:12px;}
	.titlename h4{ font-size:12px;}
}
@media (max-width:1023px) { 
	
}
@media (max-width:991px) { 
	.detailbox p br , .footerbox p br{ display:none;}
	.postname { float: right;width: 100%; text-align:center;}
	.titlename { float: left; width: 100%; margin-bottom:10px; text-align:center;}
	.innpostbx11 { margin:-70px 0; padding:0 30px;}
	.menubx ul li a { font-size:15px; line-height:21px;}
	.carousel-caption p { font-size:20px;}
	.dummyimage img { width:280px;}
	.innr_contentbox p { font-size: 18px; line-height: 24px;}
	.innr_postbox h3 { font-size:38px; }
	.innr_postbox ul li {font-size: 21px; padding: 0 15px;}
	.footerbox p { letter-spacing:.5px; }
	.carousel-caption { padding: 0 0 45px;}
	.modal-body { margin:-30px auto -50px;}
	.modal-content .modal-header h4 { font-size: 21px;  top: 60px;}
	.thumbnail { width:48%;}
	.file-upload-wrapper input { width:65%;}
	.right_uploadbox label { font-size:20px; }
	.modal-header .close { right:50px; }
	.postname h5 { text-align:center;}
}
@media (max-width:767px) {
	footer{ margin:0 0 45px;}
	.menubx { display:none;}
	.dummyimage img { width: 160px;}
	.carousel-caption { padding: 0 0 30px;}
	.carousel-caption p { font-size:17px;}
	.logo { width: 100px;}
	.carousel-indicators {bottom: -10px; }
	.innr_contentbox p { font-size: 16px; line-height: 23px; margin-bottom:15px; }
	.innr_contentbox h1 img { margin: 0 auto 20px;}
	.innr_contentbox { padding: 25px 0 10px;width: 100%;}
	.detailbox { margin: 0 auto 25px; padding: 0; width: 350px;}
	.postbox { float: left;  padding: 0 0 0px;  width: 100%;}
	.thumbnail {  width: 100%; margin:0px 0 10px !important; position:static !important;}
	.thumbnail p img { display:block; margin:0 auto;}
	.postname h5 { text-align:center; }
	.bottomimage , .topimage{ display:none; }
	.innpostbx11 { margin: 20px 0; padding:20px 30px 10px;}
	.footerbox {  margin:0px 0 20px;}
	.footerbox p { font-size:13px; line-height:18px; }
	.innr_postbox h3 { font-size:28px;}
	.innr_postbox ul li {font-size: 16px; padding: 0 10px;}
	.modal-header img { display:none;}
	.modal-footer img { display:none;}
	.modal-header .close img { display:block;}
	.modal-header .close {display: block;position: relative;right: 5px;top: -15px;}
	.modal-body { margin: 0 auto; width:100%; padding:15px 15px;}
	.modal-content .modal-header h4 { position:static;}
	.modal-content .modal-header { padding:20px 0 0; background:#ff8c0f none repeat scroll 0 0;}
	.innrmodalcntbx { padding:10px 10px 0;}
	.lefttextbox {  padding: 0;  width: 100%;}
	.right_textbox {  padding: 0;  width: 100%;}
	.uploadbox { margin:10px 0 0;}
	.modal-content .modal-header h4 { font-size: 18px;}
	.right_uploadbox label { font-size: 16px;  margin: 5px 0 0;}
	.postbox .container{ padding:0px; }
	.postbox .container .row .col-xs-12 { padding:0px; }
	.mobilerow { margin:0px;}
	.uploadbox { display:none;}
	.readbox { display:inline-block;}
	.carousel-caption { width:100%; left:0; position:fixed; bottom:0px; box-shadow:none; margin:0px; padding:0;}
	.carousel-caption p { display:block; box-shadow:none; margin:0px; }
	.carousel-caption p:before, .carousel-caption p:after { display:none; }
	.right_uploadbox { padding:0 0 10px;}
	.submitbtn { margin:0 auto 10px;}
	.lefttextbox input , .file-upload-wrapper input{ height:35px; font-size:17px;}
	.right_textbox textarea{ height:60px; font-size:17px;}
	.inrthumbnail { position:relative; height:100%; width:100%; float:left; }
	.thumbnail a { color: #353535; font-family: 'Candara'; font-weight: bold; font-size: 13px; position: absolute; bottom: -20px; right: 2px;}
}
@media (max-width:480px) { 
	.dummyimage img { width: 120px;}
	.logo { width: 80px;}	
	.carousel-indicators { left: 12%;}
	.innr_contentbox p { font-size: 14px; line-height: 19px;}
	.innr_contentbox h1 img { margin: 0 auto 15px;}
	.detailbox { width:inherit;}
	.modal-content .modal-header h4 { font-size: 16px;}
	.file-upload-wrapper button {margin: 10px auto 0; display: block; }
	.file-upload-wrapper input {  width: 100%;}
	.bannerbox .slide .bannerimage { max-width:100%; min-height:180px; /* width:200%; */ left:0%; position:relative;}
}
@media (max-width:380px) { 
	
}