
.wrapper{ margin:0 auto;}
.blog_section{ float:left; width:100%;}
.blog_section{ float:left; width:100%; position:relative; margin-top:-30px;}

.blog1{ float:left; width:96%; vertical-align:top; text-align:center; /*margin-left:4%;*/}

.blog1 li{ float:left; width:31%; margin-right:2%; text-align:left; list-style: none;}


.main{ margin-top: 39px; height: 290px;
    margin-left: 8px;float:left; width:100%; background:gainsboro; position:relative; padding:10px 10px 20px 10px; box-sizing:border-box; margin-bottom:20px; }
.main .queto{ float:left; width:30px;}
.main .name{ float:left; width:100%; font-family: 'lg_smart_bold';  font-size:18px;}
.main .tag{ float:left; width:100%; font-family: 'lg_smart_semibold'; color:#78797b; font-size:18px;}
.main .queto{ float:left;}
.main .right_icon{ position:absolute; right:10px; top:10px;}
.main .read{ position:absolute; bottom:10px; right:10px; color:#c00c3f; font-size:16px; font-family: 'lg_smart_regular'; display:none;}
.main p{ padding:10px; float:left; width:90%;  font-family: 'lg_smart_regular'; font-size:22px;overflow-wrap: break-word;}
.video_box{ float: left; width:80%; margin:10px 0;}
.video_box img{ width:100%; display:block;}


.loadmore {
color: #FFF;
border-radius: 5px;
width: auto; 

font-size: 20px;
background: #42B8DD;
outline: 0; padding: 10px 30px; display: inline-block;
}
 .loadbutton{
    text-align: center!important; float:left!important; width:90% !important; margin: 20px 0!important;
}

video{ width: 100%; }